body {
    color: white;
    background: rgb(0, 0, 0);
    margin: 0px;
}

header {
    border-bottom: solid 2px hsl(0, 0%, 100%);
    padding: 20px;
    font-size: 32px;
    color:rgb(0, 0, 0) (42, 122, 228);
}
section {
    background: rgba(114, 2, 2, 0.856);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
.chamada {
  background: rgb(184, 156, 213);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
/* código omitido */

.categoria {
  padding-left: 20px;
  padding-right: 20px;
}
h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }

  img {
    height: 200px;
  }
  .chamada section 
  
  .categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
}