body {
    color: white;
    background: rgb(3, 87, 102);
    margin: 0px;
}

header {
    border-bottom: solid 2px hsl(0, 0%, 100%);
    padding: 20px;
    font-size: 32px;
    color:rgb(1, 245, 254) (42, 122, 228);
}
section {
    background: rgb(2, 150, 187);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}